<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="space.galactictavern.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <application
        android:name="space.galactictavern.app.GtApplication"
        android:allowBackup="true"
        android:fullBackupOnly="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="space.galactictavern.app.ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="space.galactictavern.app.ui.commlinks.CommLinkReaderActivity"
            android:label="@string/title_activity_comm_link_reader"
            android:parentActivityName="space.galactictavern.app.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="space.galactictavern.app.ui.MainActivity" />
        </activity>
        <activity
            android:name="space.galactictavern.app.core.chrome.WebviewActivity"
            android:label="@string/title_activity_comm_link_reader_webview"
            android:parentActivityName="space.galactictavern.app.ui.commlinks.CommLinkReaderActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="space.galactictavern.app.ui.MainActivity" />
        </activity>

        <service android:name="space.galactictavern.app.core.chrome.KeepAliveService" />

        <activity
            android:name="space.galactictavern.app.ui.ships.ShipDetailViewerActivity"
            android:label="@string/title_activity_ship_detail_viewer"
            android:parentActivityName="space.galactictavern.app.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="space.galactictavern.app.ui.MainActivity" />
        </activity>

        <activity
            android:name="space.galactictavern.app.ui.users.UserDetailSlidingActivity"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@style/Theme.Sliding.Light" />
        <activity
            android:name="space.galactictavern.app.ui.forums.ForumThreadListActivity"
            android:label="@string/title_forum_thread_list"
            android:parentActivityName="space.galactictavern.app.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="space.galactictavern.app.ui.MainActivity" />
        </activity>

        <activity
            android:name="space.galactictavern.app.ui.forums.ForumThreadReaderActivity"
            android:label="@string/title_forum_thread_reader_detail"
            android:parentActivityName="space.galactictavern.app.ui.forums.ForumThreadListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="space.galactictavern.app.ui.forums.ForumThreadListActivity" />
        </activity>

        <activity
            android:name="space.galactictavern.app.ui.FullScreenImageGallery"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="space.galactictavern.app.ui.maps.SystemDetailSlidingActivity"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@style/Theme.Sliding.Light" />

        <receiver android:name="space.galactictavern.app.ui.widgets.CommLinkWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_comm_link" />
        </receiver>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="space.galactictavern.app.gcm" />
            </intent-filter>
        </receiver>

        <provider
            android:name="space.galactictavern.app.stores.db.GtContentProvider"
            android:authorities=".stores.db.gt_provider"
            android:exported="false" />

        <service
            android:name="space.galactictavern.app.ui.widgets.CommLinkRemoteViewsService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name="space.galactictavern.app.core.CommLinkUpdaterService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>
        <service
            android:name="space.galactictavern.app.core.gcm.GcmRegistrationIntentService"
            android:exported="false" />
        <service
            android:name="space.galactictavern.app.core.gcm.GtGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="space.galactictavern.app.core.gcm.GtInstanceIDListener"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <activity
            android:name="space.galactictavern.app.ui.prefs.SettingsActivity"
            android:label="@string/navigation_drawer_settings"
            android:parentActivityName="space.galactictavern.app.ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="space.galactictavern.app.ui.MainActivity" />
        </activity>
    </application>

</manifest>